<ion-content class="product-container">
    <!-- Imagen del producto -->
    <ion-content class="product-image-container">
        <img class="product-image" src="{{ productSelected.img }}" alt="Imagen del producto">
    </ion-content>

    <!-- Detalles del producto -->
    <ion-content class="product-details">
        <ion-button(click)="goToHome()" class="back-button">Regresar</ion-button>
        <p class="product-id">ID: {{ productSelected.id }}</p>
        <h2 class="product-name">{{ productSelected.name }}</h2>
        <p class="product-price">Precio: ${{ totalPrice.toFixed(2) }}</p>

        <ion-label for="quantity">Cantidad:</ion-label>
        <ion-input 
            id="quantity" 
            type="number" 
            class="quantity-input" 
            min="1" 
            [value]="quantity" 
            (input)="updateQuantity($event)"
        >
    </ion-content>
    <ion-button (click)="addToCart()">Agregar al Carrito</ion-button>
</ion-content>
